.roleselec-main {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #bdd4ff;
  background: linear-gradient(
    332deg,
    rgb(99, 154, 255) 10%,
    rgb(208, 226, 255) 100%
  );
}

.roleselec-main button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0062ff;
  color: white;
  font-size: 1.2rem;
}

.roleselec-main a {
  text-decoration: none;
  font-weight: 600;
  color: #0062ff;
}
